@model Notlarim101.Entity.NotlarimUser

@{
    ViewBag.Title = "Profili Düzenle";
}
<link href="~/Content/ValidationStyle.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="row">
        @using (Html.BeginForm("EditProfile", "Home", FormMethod.Post,new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal d-flex justify-content-center">
                <div class="col-md-3 mx-3">
                    <img src="~/Images/@Model.ProfileImageFilename" alt="" width="128" height="128" class="rounded-circle" />
                    <br /><br />
                    <input type="file" id="ProfileImage" name="ProfileImage" class="form-control" />
                    <span>&nbsp;</span>
                    <span>
                        <i>Lütfen jpg, jpeg veya png formatı kullanın.</i>
                    </span>
                </div>
                <div class="col-md-5">
                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model => model.Id)

                    <div class="row my-2">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row my-2">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row my-2">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row my-2">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        </div>
                    </div>
                    <div class="row my-2">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row my-2">
                        
                        <div class="col-md-9 d-flex justify-content-end mt-4"> @*offset başından yada sonundan belirli bir alanı boş bırak*@
                            <input type="submit"  value="Kaydet" class="btn btn-success" />
                            @Html.ActionLink("Iptal", "ShowProfile", "Home", null, new {@class="btn btn-dark"})
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    &nbsp;

                </div>
            </div>
        }
    </div>
</div>

