@model Notlarim101.Entity.Category

@{
    ViewBag.Title = "Kategori Sil";
}

<div class="row mt-5 mb-3">
    <div class="col-md-6 offset-md-3">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row d-flex">
    <div class="col-md-6 offset-md-3">
        <h3>Kaydi silmek istediginize emin misiniz?</h3>
        <div>
            <h4>Kategori</h4>
            <hr />
            <dl class="row d-flex" style="display: block">

                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Title)

                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>

                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>

                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </dt>

                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.ModifiedOn)
                </dd>

                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.ModifiedUsername)
                </dt>

                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.ModifiedUsername)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="d-flex justify-content-between">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-dark" })
                    <button type="submit" value="Sil" class="btn btn-danger">Sil</button>
                </div>
            }
        </div>
    </div>
</div>


