@model IEnumerable<Notlarim101.Entity.Category>

@{
    ViewBag.Title = "Kategoriler";
}

<div class="row mt-5 mb-3">

    <div class="col-md-10 col-md-offset-1">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>
<div class="row">

    <div class="col-md-10 col-md-offset-1">
        <p>
            <a href="/Category/Create" class="btn btn-primary" title="Yeni Kayit"><i class="bi bi-plus-circle"></i> Yeni Kayit</a>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedUsername)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedUsername)
                        </td>
                        <td>
                            <a href="/Category/Edit/@item.Id" class="btn btn-warning btn-sm" title="Guncelle"><i class="bi bi-pencil"></i></a>
                            |
                            <a href="/Category/Details/@item.Id" class="btn btn-info btn-sm" title="Detay"><i class="bi bi-search"></i></a>
                            |
                            <a href="/Category/Delete/@item.Id" class="btn btn-danger btn-sm" title="Sil"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </p>
    </div>
</div>


